.wrapper{
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    position: absolute;
}
.menu{
    height: 10%;
    width: 100%;
    top: 0px;
    background-color: #1F2326;
    position: absolute;
}
.menu ul{
    list-style: none;
    max-width: 800px;
    padding: 0px;
}
.menu ul li{
    display: inline;
    
    
}
.menu ul li a{
    padding: 20px;
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-size: 20px;
    
}
.banner{
    display: block;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(27, 27, 27, 0.75)), url(../src/banner2.jpg);
    background-position-y: 40%;
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    top: 10%;
    
}
.banner h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    position: relative;
}
.geral{
    display: inline;
    align-items: center;
    position: relative;
    top: 35%;
    width: 100%;
    margin-bottom: 1%;

}
.curso{
    display: inline;
    align-items: center;
    position: relative;
    top: 35%;
    width: 100%;
    margin-bottom: 150%;
}
.text_geral{
    position: relative;
    display: inline-block;
    top: 10%;
    background-color: #733863;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10%;
  
    
}
.text_curso{
    position: relative;
    display: inline-block;
    top: -125px;
    background-color: #261f1f;
    border-radius: 15px;
    width: 100%;
}
.text_curso p{
    color: white;
    font-size: 25px;
    width: 50%;
    margin-left: 10%;
}
.text_curso h1{
    text-align: center;
    color: white;
    position: relative;
    top: 10px;
    font-size: 50px;
}
.right {
    display: inline-block;
    position: relative;
    font-size: 25px;  
    margin: 30px;
    width: 50%;
    left: 70px;
    top: 80px;
    color: white;
    text-align: left;

    
}
.left{
    display: inline-block;
    position: relative;
    font-size: 25px; 
    margin: 50px;
    width: 40%;
    left: 70px;
    top: 80px;
    color: white;
    text-align: left;
    margin-bottom: 10%;
}
.text_geral h1{
    text-align: center;
    color: white;
    position: relative;
    top: 50px;
    font-size: 50px;
}
.titulo{
    top: 35%;
    position: relative;
    display: block;
    background-color: #733863;
    color: white;
}
.titulo2{

    position: relative;
    display: block;
    background-color: #261f1f;
    color: white;  
}

.img1{
    top: 120px;
    width: auto;
    height: 300px;
    position: relative;
    left: 30px;
    float: left;
}
.img2{
    top: 50px;
    width: auto;
    height: 300px;
    position: relative;
    right: 100px;
    float: right;
    
}
#caixas{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: animationum;
    animation-duration: 1s;
}
#caixas a{
    text-decoration: none;
    color: white;
}
.caixa1{
    text-align: center;
    background-color: #733863;
    width: 400px;
    height: 100%;
    border-radius: 20px;
    color: white;
    font-size: 40px;
    display: inline;
    line-height: 1;
}
.caixa1 h1{
    font-size: 25px;
    line-height: 1px;
}
.caixa2{
    text-align: center;
    color: white;
    background-color: #1F2326;
    width: 400px;
    height: 100%;
    border-radius: 20px;
    font-size: 40px;
    line-height: 1;

}
.caixa2 h1{
    font-size: 25px;
    line-height: 1px;
}
.caixa3{
    background-color: #6099A6;
    width: 400px;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 1;
}
.caixa3 h1{
    font-size: 25px;
    line-height: 1px;
}
.icon{
    width: 100px;
    display: inline;

}
footer{
    background-color: #1F2326;
    height: 80%;
    position: relative;
    margin-top: 50%;
    border-color: black;
}
@keyframes animationum{
    from{
        top: 100%;
        opacity: 0;
    }
    to{
        top: 60%;
        opacity: 1;
    }
}